# Database
POSTGRES_DB=chart_playlister
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!

# Symfony
APP_ENV=dev
APP_SECRET=changeme
DATABASE_URL="postgresql://app:!ChangeMe!@db:5432/chart_playlister?serverVersion=16&charset=utf8"