{# Icône de chargement loading.io #}
<div class="loadingio-spinner-bar-chart">
    <div class="ldio">
        <div>
            <div id="barre-1"></div>
            <div id="barre-2"></div>
            <div id="barre-3"></div>
            <div id="barre-4"></div>
        </div>
    </div>
</div>
