<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Comment utiliser chart <strong>playlister</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Carousel -->
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="10000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('images/how_to_0.png') }}" alt="...">
                            <div class="carousel-caption d-none d-md-block bg-black opacity-75 rounded-pill">
                                <p>chart <strong>playlister</strong> permet de scanner des classements musicaux (charts) du site Billboard pour en faire des playlists à écouter sur Spotify</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/how_to_1.png') }}" alt="...">
                            <div class="carousel-caption d-none d-md-block bg-black opacity-75 rounded-pill">
                                <p>Choisissez une chart à votre goût sur la page des charts du site <a href="https://www.billboard.com/charts/" target="_blank">Billboard</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/how_to_2.png') }}" alt="...">
                            <div class="carousel-caption d-none d-md-block bg-black opacity-75 rounded-pill">
                                <p>Récupérez l'url de la page</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/how_to_3.png') }}" alt="...">
                            <div class="carousel-caption d-none d-md-block bg-black opacity-75 rounded-pill">
                                <p>Collez l'url dans la barre de recherche de chart <strong>playlister</strong>, puis cliquez sur SCANNER</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>